*{
    box-sizing: border-box;
    background: rgb(231, 220, 205);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    
    display: flex;
    justify-content: center;
   
}
.card{
    background-color: white;
    width: 500px;
    padding: 40px;
    border: 12px;
    border-radius: 20px;
    box-shadow: 0 10px 20px;
    justify-content: center;
}
.image img{
   width:400px;
    border-radius: 15px;
}

.image{
    border-radius: 20px;
}

.description, .recipe, .recipe_para{
    background-color: white;
}

.recipe_para{
    color: grey;
}

.preparation,.pre,h3,.pre_li,.pre_b {
    background-color: rgb(255, 243, 246);

   
}

.preparation{
    padding: 20px;
    border-radius: 10px;
}
h3{
    color: purple;
}
.pre_li,li{
    color: grey;
}

.ingredients,.content,.timing,li{
    background-color: white;
}

.content{
    color: brown;
}

.ingredients,.description,b{
    background-color: white;
}

.nutri,p, .nutrition{
    background-color: white;
}

.nutrition{
    display:flex;
    justify-content: space-between;
}

p{
    color: gray;
}
.clr{
    color: brown;
    font-weight: bold;
    padding-right: 6rem;
}